[2019-05-13 16:57] kanow opened #1 "To much redirects if slug changed back to the first slug before the change"
Hi, I tried your extension to update slug fields after changing the page title. Your extension also creates redirects after changing the slug. If I change the slug back to the title which was before then a new redirect will be created and those will end in an neverending redirect on that page.

Explanation:

1. page title: "page-a" -> change to "page-b" after saving the new slug, a redirect will b

[2019-05-14 05:31] wazum commented on #1
Good catch @kanow, thanks, this is all too new and I'm still discussing things with colleagues on how to handle the redirects. I'm working on it, but I'm not quiet finished or satisfied myself. That's the reason this stuff is still only in master and not in a new release. Please be a little patient with me ;-) or come up with some ideas (highly appreciated!).

[2019-05-14 06:22] wazum commented on #1
Should be fixed in master

[2019-05-14 06:22] #1 closed

[2019-06-18 06:42] mgur opened #3 "Exception when creating new page"
There is a bug on creating new page (if permissions on subpart of pagetree).
It's not possible to add new pages.

[2019-06-18 10:15] wazum commented on #3
@mgur  can you elaborate on this? This is not really a helpful ticket.
What did you do and what happened? Provide some screenshots, etc. Thanks!

[2019-07-03 09:05] wazum commented on #3
A better problem description or any hints on this @mgur ?

[2019-07-16 11:37] maniac555 opened #4 "Configuration Options missing when installed in Typo3 Version 9.5.8"
Hi, when I install the extension with Typo3 Version 9.5.8 I only get the one configuration option. See screenshot. Renaming slug segements recursively is not working. Maybe because the config is not present? Or is there anything I'm missing? I dowloaded the latest version of your ext from TER.

![2019-07-16 13_33_10-sluggi-config-options](https://user-images.githubusercontent.com/40887315/61291380

[2019-07-16 12:47] wazum commented on #4
Hi @maniac555 thanks for asking,
the latest features are only available in master.
I'll tag a new release soon though … so please use the github code for now

[2019-07-16 12:47] #4 closed

[2019-07-19 16:39] moe2k commented on #3
I have the same problem:

Core: Exception handler (WEB): Uncaught TYPO3 Exception: Argument 1 passed to Wazum\Sluggi\Helper\PermissionHelper::getTopmostAccessiblePage() must be of the type integer, string given, called in

/public/typo3conf/ext/sluggi/Classes/Backend/Hook/DatamapHook.php on line 37 \| TypeError thrown in file

public/typo3conf/ext/sluggi/Classes/Helper/PermissionHelper.php in line

[2019-07-22 05:02] wazum commented on #3
Thanks @moe2k for the details. Now it's clear, that this is fixed already for some time in master.
I released a new version (1.2.0) right now in TER and on packagist.
Please update and give feedback if everything's working for you. tia

[2019-07-25 12:15] #3 closed

[2019-07-25 12:16] wazum commented on #4
@maniac555 a new release is available via packagist and in TER

[2019-07-25 12:17] wazum commented on #1
@kanow a new release is available via packagist and in TER

[2019-07-26 16:22] kanow commented on #1
Fine, thanks. I will try the new version after my holiday in two or there weeks :-).

Yes of course ;-)

[2019-08-08 09:24] MediKathi opened #5 "Feature Request: Update Slugs when moving Page"
Hello,
 your extension is working great, but in case you move a page to an other parent in the tree, the slug is not updating.

[2019-08-08 10:53] MediKathi commented on #5
Hello,

I made a successfull test with these changes:

add this to the sluggi\Classes\Backend\Hook\DatamapHook.php
[code]

and this to the sluggi\ext_localconf.php

[code]

[2019-09-03 15:07] kanow opened #6 "InvalidArgumentException in redirects after rename a slug of a page twice"
Hi,
I checked out the version 1.2.1 of sluggi but I have following problems:
 I renamed a page to a new slug, and renamed it back to the slug before.
After this I tried to open the redirect module.

[code]
The slug fields on child pages are not changed too. I thought, they will be changed recursively if I change the slug on parent page. There is those setting (Rename slug segments recursively) in

[2019-09-26 04:49] wazum commented on #6
Hi, thanks for the report, unfortunately I can't reproduce this. Try the most recent version (dev-master) and see if that helps.

Please take a look at the sys_redirect table and check the incorrect record, what values are set there?

Recursively: yes, works for me (and others).

Did you do all these actions as an Administrator or regular editor (with certain permissions)?

[2019-09-26 07:51] wazum commented on #5
@MediKathi  the latest version (dev-master) incorporates your feature request. Would be glad if you could test if it works for you.
After that I'll release a new tagged version (github, TER, packagist).
Thanks!

[2019-09-26 08:46] MediKathi commented on #5
@wazum I tested the current dev-master.
I found one Bug:
If I drop thepPage (drag and drop) between it's new siblings (new parent), then the slug is not updated. But if I drop the page diretly into it's new parent, then the slug updates.

[2019-09-26 10:09] wazum commented on #5
OK, I'll take another look, thanks!

[2019-09-26 10:53] wazum commented on #5
@MediKathi works now (I followed your approach too blindly ;-) … needed another hook for this insert-between operation). Thanks again! Very welcome feedback!

I force pushed the change, so it's the same commit.

[2019-09-26 11:06] MediKathi commented on #5
Now It works for me aswell. :-)
Thank you

[2019-09-26 11:07] #5 closed

[2019-09-26 12:46] wazum commented on #5
Release version 1.3.0

[2019-10-01 12:01] wazum commented on #6
I'm closing this as there's no feedback.

[2019-10-01 12:01] #6 closed

[2019-10-09 11:24] moe2k opened #8 "Documentation: recursively update slugs on subpages"
Auto-Updating of slugs for subpages when editing the parent page only works if the
parent page slug string actually occurs in the slug of the subpage. I think this is a good feature, but maybe you can give a hint in the readme.

[2019-10-09 11:29] moe2k opened #9 "Interoperation with extension internetgalerie/ig_slug"
The extension "ig_slug" also offers a "slug lock" feature, the field is called "slug_locked" there. Sluggi's field is  "tx_sluggi_lock". The sluggi lock field is not shown if ig_slug is installed, so both extensions are incompatible to each other. It would actually be nice if both extensions could share the same field since it behaves the same, because ig_slug features a nice backend module which

[2019-10-09 17:19] wazum commented on #8
Added a section about the recursive update in the README
https://github.com/wazum/sluggi#recursive-update-of-urls

[2019-10-09 17:19] #8 closed

[2019-10-10 06:57] hirnschmalz opened #10 "URL with double slash"
If there is, for some stupid reason, a slug on the start page e.g. `/my-startpage` all the subpage have this part in the slug field.

If the slug of the startpage is changed to (the correct) `/` the slug of the subpages start with `//`.

[2019-10-10 10:49] wazum commented on #10
Thanks for your report @hirnschmalz
I'll asap test and resolve this problem.

[2019-10-10 11:22] wazum commented on #10
I could not really reproduce your problem @hirnschmalz, the sub pages had always only one leading slash for every test scenario.
But non the less I fixed some problematic lines with trailing slashes.
So please test with current `master` and report back, thanks in advance!

[2019-10-10 11:42] hirnschmalz commented on #10
Hi @wazum ,

that was quick :wink: :+1: .
Works like charm now.

[2019-10-10 11:42] #10 closed

[2019-10-12 05:49] t3brightside opened #11 "ext:redirect should be dependency"
Hey,
this ext should be part of core features for sure! Good work! Thanks!

Could be a good idea to make ext: redirects mandatory as Sluggi doesn't work without it.

[2019-10-12 18:08] wazum commented on #11
Thanks for the hint,
I'll add it to ext_emconf too, it's already a dependency in composer.json.
The plan is to remove the dependency in the long run, as long as the feature is not explicitly required.

[2019-10-13 01:09] wazum commented on #11
Done

[2019-10-13 01:09] #11 closed

[2019-10-24 13:39] Schwuuuuup opened #12 "Dependency to sysext redirects"
Hi,
sluggi seems to depend on the system extension "redirects" to do it's job but this is not stated in the ext_emconf.php not even as "suggest".
On Installations without "redirects" activated (e.g. after an update from 8.7) the missing DB columns lead to errors like "missing table source_host in where clause"

Regards
Thomas Moll

[2019-10-25 04:56] wazum commented on #12
Thanks @Schwuuuuup  for your feedback! This has already been fixed in master for some time, but I now made the extension `redirects` completely optional.
Please test with the latest `dev-master` and report back if it works for you now! :-)
Aferwards I'll tag a new release and push it on TER.

[2019-10-25 09:05] Schwuuuuup commented on #12
Thank you very much for that quick reply!

Seems to work, with no "redirects" activated and with missing redirects-tables the new sluggi doesn't throw errors anymore...
Unfortunately I cannot fully test sluggi in my development environment, and production is still on 8.

I installed sluggi in the hope it would give me a button that recalculates ALL slugs on ALL the pages (of a subtree or something

[2019-10-25 13:42] wazum commented on #12
There's another extension for this: https://extensions.typo3.org/extension/ig_slug/
hth, closing this issue, thanks

[2019-10-25 13:42] #12 closed

[2019-11-07 12:21] stephanederer opened #14 "Redirect to pages with suffix"
If suffix on site configuration is configured, e.g.
`routeEnhancers:
  PageTypeSuffix:
    type: PageType
    default: /index.html`
Pages can be called via '/path/' or alternative via '/path/index.html'.

When moving page or changing slug, sluggy doesn't generate a redirect to page with suffix, this calls won't work anymore.

[2019-11-07 13:22] wazum commented on #14
@stephanederer ah, ok, didn't know this feature. I'll take a look at it next week.

[2019-11-07 21:48] moe2k commented on #9
My suggestion would be to rename "tx_sluggi_lock" to "slug_locked", because I would expect a "slug lock" to have a global scope and consider it OK to leave out the namespace here.

[2019-11-08 05:30] stephanederer opened #15 "Update slug of moved page"
Via configuration it's possible to deactivate updating slug recursively when moving page.
But it's not possible to deactivate udating slug of main page.

[2019-11-08 05:35] #15 closed

[2019-11-08 05:35] stephanederer commented on #15
I write another ticket

[2019-11-08 05:40] stephanederer opened #16 "Deactivate updating slug of current page"
It's not possible to deactivate updating slug of current page when moving or renaming.

- it's possible to deactivate updating slug **recursively** when **moving page**. But it's not possible to deactivate udating slug of current page.
- it's possible to deactivate updating slug **recursively** when **renaming page**. But if you rename pagetitle and set focus back to the title field it udates the

[2019-11-08 06:50] wazum commented on #16
@stephanederer nice catch, I think it would work if I put this in the lock feature. When the lock for a page is active, it would also affect any move (or other) operation. How does that sound?

[2019-11-08 07:06] stephanederer commented on #16
@wazum sounds good, thanks a lot!

[2019-11-21 20:53] wazum commented on #14
@stephanederer please test with the latest dev-master

[2019-11-25 13:09] stephanederer commented on #14
@wazum The fix works on my installation

[2019-12-18 20:45] #14 closed

[2020-02-19 11:03] Schwuuuuup opened #19 "Users are unable to edit page properties when sluggi is installed since TYPO3 9.5.14: Missing UID"
Hi,

We are using
- TYPO3 9.5.14 LTS
- sluggi from TER (1.8.3) and sluggi from Github (1.9.0)
- PHP 7.2.23 (cli) (built: Oct 17 2019 16:19:35) ( NTS )
- Apache/2.4.25 (Debian) 2019-10-13T15:43:54

With both versions we get an error since we updated from TYPO3 9.5.13.
Whenever a non-admin user tries to edit the page properties of any page, they get:

[code]

[2020-02-19 11:32] wazum commented on #19
Thanks for the report, I'll take a look at it tomorrow

[2020-02-19 12:26] wazum commented on #19
@Schwuuuuup thanks for the report, please try with 1.9.1 I just tagged on github and packagist

[2020-02-19 12:27] wazum commented on #16
@stephanederer Please test again with the latest version. Locked pages should now be excluded from any updates.

[2020-02-19 13:31] Schwuuuuup commented on #19
@wazum Wow, you are quick! We tested it, and the problem is gone on at least one of our TYPO3s further tests will come, but I'm sure it will be ok.
Thanks a lot!

[2020-02-19 14:02] Schwuuuuup opened #20 "Slug field is locked although switch says it isn't"
There is still one minor issue:

Tested on  Vivaldi, Chrome and Firefox (on Linux Mint) and with Version 1.8.3 from TER and 1.9.1 from git:
![sluggi-lock](https://user-images.githubusercontent.com/16288510/74839513-ad067b80-5325-11ea-8e2e-a85d96359d14.png)

As you can see there is no edit button, although the lock is not engaged.
"Have you tried turning it on and off again?" unlocks the field succ

[2020-02-19 14:07] #19 closed

[2020-02-19 18:03] wazum commented on #20
@Schwuuuuup  this is actually meant to be a feature. If the _Synchronisiere URL Segment_ switch is active, you shouldn't edit the slug, so the buttons are removed. If you switch that off, you get the default recalculate and edit buttons.

[2020-02-19 18:08] wazum commented on #20
(I see, I still have an old screenshot in the README too …)

[2020-02-20 09:46] Schwuuuuup commented on #20
Ah, I see.
sorry I did not get, that the _Synchronisiere URL Segment_ switch is meant to lock the input field as well.
No problem then.

[2020-02-20 13:08] #20 closed

[2020-03-16 06:58] #16 closed

[2020-03-25 15:11] dahaupt opened #21 "Create redirects without endtime"
It would be great to skip adding an `endtime` on redirect records in case the extension setting `redirect_lifetime` is empty.

Currently, there is always an `endtime` set with
[code]
inside `DatamapHook.php`.

[2020-04-01 07:12] maechler opened #22 "Wrong redirect generated for sites with URL prefix"
I have tested this with TYPO3 `9.5.14` and sluggi `1.9.1`.  It can be reproduced by adding a site configuration with a full URL prefix, e.g. `/en/`.

If you create a page named `example` and then rename it to `example new`, `sluggi` will create a regular redirect and a variant:

`/en/example -> /en/example-new`

`/en/example/en -> /en/example-new`

There are two problems to this, first `/en/` gets

[2020-04-01 07:50] maechler commented on #22
We added the following check before `if ($currentSlug !== $slug) {` in order to workaround the issue.

[code]

If you think this is ok, I would be happy to prepare a pull request. If you have a better way to solve that issue, please let me know!

[2020-04-01 07:57] wazum commented on #22
Thankx, I'll take a look at it in the next couple of days

[2020-04-07 08:18] maechler opened #23 "Ignore separator and folder pages in slug generation"
TYPO3 9 by default ignores the slugs of separators and folders when generating a slug for a subpage. However the slug for separators and folders are not empty. This leads to a problem, e.g. when a subpage of a separator or folder is moved and `EXT:sluggi` automatically updates the slug.

The issue can be reproduced by the following steps:

1. Create a separator named `Separator Page`
2. Create two

[2020-04-07 15:04] maechler commented on #23
Probably we should recursively traverse up the page tree to the first page not being a folder or a separator and then use the slug from that page, instead of just taking the slug from the parent page as base.

[2020-04-15 09:48] wazum commented on #23
@maechler  should be fixed in 1.9.4, please test and report back, thanks!

[2020-04-15 10:00] wazum commented on #22
@maechler is fixed in 1.9.5, thanks for the solution

[2020-04-15 10:00] #22 closed

[2020-04-15 10:00] wazum commented on #21
is fixed in 1.9.5, thanks for the suggestion

[2020-04-15 10:00] #21 closed

[2020-04-15 15:31] maechler commented on #23
@wazum Perfect, thanks! I will test it this or next week and come back to you.

[2020-04-16 14:26] maechler commented on #23
@wazum I just tested it with `v1.9.6`, it does work now when the title is changed. However it does still not work when a page is being moved. That is because the SlugHelper is not used in `updateSlugForMovedPage`:

https://github.com/wazum/sluggi/blob/30ba9003b564791c519ca3acc69c13f991e80758/Classes/Backend/Hook/DatamapHook.php#L251

[2020-04-17 06:36] wazum commented on #23
Thanks @maechler this is fixed in 1.9.7

[2020-04-17 06:36] #23 closed

[2020-04-23 14:49] rafu1987 opened #26 "TYPO3 10 compatibility"
Hey there,

thanks for your work with sluggi. :-)

Will you add TYPO3 10 compatibility. I know they introduced the automatic updates for URL segments and redirects, but still, sluggi provides some nice additional features. :-)

[2020-04-24 07:01] wazum commented on #26
Sure, I thought about it and actually working on it, but will take some time.

[2020-05-11 08:47] datango opened #27 "Bug in Slug access restrictions for /"
Hi,

thank you, for building the sluggi extension. It is realy usefull.

The problem:

/
demo    Access group DEMO
 test    Access group Test
   page1  Access group Test

This results in

[https://servername.de/demo]/test/page1

[] = Fixed part - can not be changed

That is correct. The user has no access to demo. So it can not be changed.

Slug on the test page

[https://servername.de/demo]/test/

[2020-05-11 08:50] datango opened #28 "Option last_segment_only results in dublicate path part or slashes in slug"
This is a great option, but it has some problems:

1)  Dublicate page slug in subpath:
    Given: [https://servername.de/demo/test]/page1
	Changing page1 to page1new
	Result: [https://servername.de/demo/demo/test]/page1new
	Changing again to page1new2
	Result: [https://servername.de/demo/demo/test]/page1new2

2) Problems when using slug as admin

	Given: [https://servername.de]/demo/test/page1
	Ch

[2020-05-11 10:43] wazum commented on #28
@datango  what version did you use?

[2020-05-11 12:31] datango commented on #28
@wazum 1.9.10

[2020-05-11 16:34] wazum commented on #28
@datango  so please use the latest version

[2020-05-12 05:37] datango commented on #28
@wazum: Thanx for the hint. I only searched the TER.

My second problem "using slug as admin" is gone with update to version 1.9.11. But the dublicates as user are still processed.

I have a fix that works for me:

[sluggifixdublicates.txt](https://github.com/wazum/sluggi/files/4613572/sluggifixdublicates.txt)

I removed the $inaccessibleSlugSegments variable in the DatamapHook for the $incomingFi

[2020-05-12 14:35] moe2k commented on #9
Another solution could be to make it configurable which field to use.

[2020-05-14 07:32] datango opened #29 ""This page will be reachable"-url is not correctly build with sluggi"
Without sluggi
This page will be reachable via https://server.de/demo/area/test/example

With sluggi - last_segment_only off
This page will be reachable via https://server.de/area/test/example
Slug: [https://server.de/demo]/area/test/example
[] not accessible

With sluggi - last_segment_only on
This page will be reachable via https://server.de/example
Slug: [https://server.de/demo/area/test]/examp

[2020-05-14 07:33] datango commented on #29
@wazum : Now i'm using TYPO3 9.5.17

[2020-06-02 10:29] daChs07 opened #30 "Backend Slug Rendering"
DE: [www.example.at]/forschung/forscher/maxmuster
EN: [www.example.at/en/some/wrong/path/will/be/rendered/in/be]/research/researcher/maxmuster

It seems to be only a Problem with the rendering, the correct path will be saved/used.
This only happens for users without extra permissions (not for admin or whitelisted user group's).

[2020-06-02 15:50] #30 closed

[2020-06-02 15:53] wazum commented on #28
@datango  I guess I need more information.
Send me a screenshot of your sluggi extension settings and tell me if the user who edited the page is part of any whitelist group and any other information that could be useful, thanks.

[2020-06-02 16:02] wazum commented on #27
@datango  If the user has access to /demo he can change that anytime to /something-else (root level), so I see no bug here.
As for the locking … that would be a bit complicated to incorporate into the slug building, as you can lock pages anywhere in the hierarchy.
Would you disallow changing the slug segments up to the nearest locked page here?
I will think about that though …

[2020-06-02 16:03] wazum commented on #29
@datango  which extension version? Can't reproduce this.

[2020-06-09 09:18] wazum commented on #28
Fixed in 1.9.13

[2020-06-09 09:18] #28 closed

[2020-06-10 10:26] danielakeil opened #31 "Redirects: missing option for Keep GET Parameters"
Great module by the way. The only thing I am missing in the extension settings is an option for the redirects to keep the GET parameters. It is important to keep this information fro tracking purpose when redirecting a page.
Thank you for creating this module

[2020-06-15 14:22] wazum commented on #31
@danielakeil  the new options are available with version > 1.10.0 hth

[2020-06-15 14:22] #31 closed

[2020-06-15 14:23] wazum commented on #29
Is fixed in the latest versions

[2020-06-15 14:23] #29 closed

[2020-06-16 06:23] datango opened #32 "Disabled redirect options cause a database error"
Incorrect integer value: '' for column 'force_https'

[code]

[2020-06-16 07:55] wazum commented on #32
Thanks for the hint, fixed in 1.10.1

[2020-06-16 07:55] #32 closed

[2020-06-17 08:56] danielakeil commented on #31
Perfekt, thank you @wazum

[2020-07-01 09:23] claude27 opened #33 "Moving pages in workspace draft mode no more possible due to an exception error"
It's no more possible to move pages in the page tree in workspace draft mode.

This is caused by an exception error:
Core: Exception handler (WEB): Uncaught TYPO3 Exception: Argument 1 passed to Wazum\Sluggi\Backend\Hook\DatamapHook::getLastSlugSegment() must be of the type string, null given, called in /xxx/public/typo3conf/ext/sluggi/Classes/Backend/Hook/DatamapHook.php on line 251 | TypeError t

[2020-07-23 09:41] rafu1987 commented on #26
Hi :-)
Just wanted to ask, if there's any update on a TYPO3 10 integration / support. If you need any help for testing, etc. I would gladly help out!

[2020-07-24 09:29] valentin- opened #34 "getPrefix() has been removed in v10"
Hi, looks like the getPrefix-method inside the permission check has been removed in Typo3 v10 in `\TYPO3\CMS\Backend\Form\Element\InputSlugElement.`

https://github.com/wazum/sluggi/blob/master/Classes/Backend/Form/InputSlugElement.php#L50

It's working for me to simple insert the code snippet from v9 in `Wazum\Sluggi\Backend\Form\InputSlugElement`

[code]

[2020-07-24 10:15] hartundweich opened #35 "Copy whole pagetree to archiv page: slugs of subpages won't update"
I have a typo3 website for a yearly filmfestival - when the festival is over the whole pagetree is copied to an archiv page and the actual main page is renamed.

Here is the page tree:

[1] vft
  --[2] 2020
  ---[3] program
  ---[4] jury
-- [30] archiv

When I copy the whole pagetree '2020' to archiv folder the slug of the new 2020 Page in archiv is updates as soon as I make the page visible.
I'm

[2020-07-28 09:08] wazum commented on #35
@hartundweich  Which version are you using (TYPO3, sluggi) and which settings are configured in the extension manager?

[2020-07-28 09:09] wazum commented on #34
@valentin- thanks for your report, sluggi is not (yet) ready for version 10

[2020-07-28 09:13] wazum commented on #33
@claude27  unfortunately I'm not using _workspaces_ in any of my projects, so it's a bit hard for me to test with this stuff.
It looks like the requested page has no slug value
[code]
Would be very helpful if you step through this part with a debugger and report what's going on.

[2020-07-28 19:44] hartundweich commented on #35
Typo3 9,5,19, Sluggi actual version as I wrote this issue

[2020-10-26 15:08] djcprinse commented on #26
Hi. Just wanted to ask if there is any update yet on a TYPO3 v10 compatible version or if you have an estimated time for the update to become available? If you need help with testing, let me know!

[2020-10-26 17:14] wazum commented on #26
We soon start with the first large TYPO3 10 upgrades in our company, so there is enough reason for me to finish the extension for 10.
There's a fork https://github.com/GaryWilsonJr/sluggi that should at least work without errors, but I'm not sure, all features still work.

[2020-10-27 07:35] djcprinse commented on #26
Thank you for the quick reply :) I'll have a look if the fork is working for our use case.

[2020-11-11 08:54] wazum commented on #34
@valentin-  Hey, check out the completely rewritten version for 10: https://github.com/wazum/sluggi/tree/typo3-10

[2020-11-11 08:55] wazum commented on #26
@djcprinse @rafu1987 @GaryWilsonJr
Hey guys, check out the completely rewritten version for 10: https://github.com/wazum/sluggi/tree/typo3-10
and give feedback, thanks!

[2020-11-11 09:55] #34 closed

[2020-11-11 09:56] wazum commented on #27
No further feedback, closed

[2020-11-11 09:56] #27 closed

[2020-11-11 09:57] wazum commented on #33
@claude27 please check out the new version for TYPO3 CMS 10 (see branch until release), if you can see the same problem there

[2020-11-11 11:02] mariekesdb opened #39 "New pages created by an non-admin gets wrong slug"
When a non-admin creates a new page by right-clicking an existing page and choosing new, so not via the page-drop-wizard, and the setting last_segment_only is activated the page gets the wrong slug. Saving the page again after the first generation fixes the slug.

How to reproduce:
- In the extension configuration set basic.last_segment_only to true
- Change to a non-admin user
- As the non-admin

[2020-11-11 12:34] wazum commented on #39
@mariekesdb thanks for reporting this issue

[2020-11-11 13:06] wazum commented on #39
@mariekesdb Should be fixed in 1.10.2 (TYPO3 CMS 9) and in the typo3-10 branch
(please don't use the fork, use the rewrite for TYPO3 10 (see branch for now, as we currently test before the first release))

[2020-11-11 13:08] mariekesdb commented on #26
@wazum just tested it. I found a bug in the SlugHelper fetchOne() method isn't found.
I think it should just be fetch()

Can I just put this here or should I make another issue for this?

[2020-11-11 13:14] wazum commented on #26
Thanks @mariekesdb
my colleagues updated the Doctrine version in the project I used to upgrade the extension …
TYPO3 CMS depends on an older version, I'll fix it asap

[2020-11-11 13:14] mariekesdb commented on #39
@wazum wow that's fast, thanks a lot for fixing this!

I was just testing the CMS 10 branch and found one issue which I reported here https://github.com/wazum/sluggi/issues/26

[2020-11-11 13:17] wazum commented on #26
@mariekesdb I updated the branch, thanks again

[2020-11-11 13:32] mariekesdb commented on #26
@wazum thanks again for the fast fix

[2020-11-11 14:13] mariekesdb commented on #39
The bug is fixed so i will close this ticket

[2020-11-11 14:13] #39 closed

[2020-11-12 13:11] wazum commented on #26
Tagged new version for 10 as `2.0.0`

[2020-11-12 13:11] #26 closed

[2020-11-12 13:12] wazum commented on #35
Fixed for TYPO3 CMS 9 in 1.10.3 and for TYPO3 CMS 10 in 2.0.0

[2020-11-12 13:12] #35 closed

[2020-11-23 10:25] christophlehmann opened #40 "Renaming a page in pagetree (double click) does not update the slug"
When i rename a page via page tree and have tx_sluggi_sync enabled, the slug is not updated.

[2020-11-23 10:37] wazum commented on #40
@christophlehmann Thanks for reporting this issue, which version are you using (for TYPO3 CMS 9 or 10)?

[2020-11-23 10:42] christophlehmann commented on #40
We use 10.4.10

[2020-11-23 12:26] wazum commented on #40
@christophlehmann  please test with the latest `dev-master` if this resolves your issue

[2020-11-30 13:33] christophlehmann commented on #40
It works perfect. Thanks for your investigation!

[2020-11-30 13:37] christophlehmann commented on #9
I would rather unify it and use `slug_locked` as suggested. Making it configurable introduces new code unnecessarily.

[2020-11-30 14:50] #40 closed

[2020-12-03 09:48] AMartinNo1 opened #42 "TYPO3 v9: Moving pages can lead to two entries"
Hi @wazum,

we've implemented a trailing slash for a customer and noticed that two records will be added to `sys_redirects`.  By looking into the code I have noticed that when a custom default `PageTypeSuffix` is configured two redirects will be added by the `DatamapHook`.

https://github.com/wazum/sluggi/blob/0846762ae7cde6f9274e5cf1b8cc4287264a97f1/Classes/Backend/Hook/DatamapHook.php#L322

[cod

[2020-12-03 10:33] wazum commented on #42
Hi @AMartinNo1 thanks for reporting, I'll take a look at it

[2020-12-03 13:41] AMartinNo1 commented on #42
In my opinion it should be btw. either of above `$this->createRedirect`-calls but not both. Hence, if `!empty($variant)` go with  `$variant`. Otherwise, well, don't.
I am not fully aware of the whole extension though. So, please take this as a hint but not necessarily solution 🙂

[2020-12-16 09:52] dizzy71 opened #43 "Renaming pages in pagetree via doubleclick..."
... does update the field "title" but does not trigger the synchronisation with the URL segment

[2020-12-16 11:00] wazum commented on #43
@dizzy71  should be fixed, see #40 which version are you using?

[2021-01-13 14:27] mariekesdb opened #44 "Redirect to self is created in multilanguage site"
When you have a multilanguage site and edit a page in the default language, a redirect is created from the second language page to itself.

For example:
- "page 1" exists in language 0 and 1 with slugs site.com/page and site.com/en/page
- edit a property of the default page in the backend, e.g. the author.
- when you save the page a redirect is created from site.com/en/page to site.com/en/page

I

[2021-01-13 14:41] ses2013 opened #45 "Too many redirects occured top open […]"
Renaming a page in the tree leads to:
"Too many redirects occured top open […]"

I use TYPO3 10.4.12 and this problem is in the dev-master version of the exention.

[2021-01-13 14:59] ses2013 commented on #45
Seems not to be a problem with sluggi … sorry

[2021-01-13 14:59] #45 closed

[2021-01-13 15:23] #43 closed

[2021-01-13 15:23] wazum commented on #44
@mariekesdb  I'll take a look at it tomorrow

[2021-01-14 06:09] #44 closed

[2021-01-28 12:12] networkteam-lange opened #46 "Moving pages with Slug Lock are updated"
When you have the Feature autoupdate active and move a page which are marked as "Slug Lock" the segments are nevertheless updated.

[2021-02-02 14:20] subnoodle opened #47 "Exception thrown when a sysfolder on root level is renamed"
Dear Wolfgang,

i found a little bug today in ext::sluggi.

First of all: I wonder if - hopefully - typo3 takes your extension into the core! Why does this not work out of the box what your extension does like a charm!

The error occurs when
- having a sysfolder on root level
- sysfolder is not a root-page
- sysfolder has a slug (is not "/")
- you want to rename the sysfolder

There is the excepti

[2021-02-02 14:37] wazum commented on #47
@subnoodle   thanks for reporting this issue, I'll take a look at it tomorrow

[2021-02-04 07:47] #47 closed

[2021-02-11 16:39] christophlehmann opened #48 "Redirects for subpages does not get PageTypeSuffix"
My pages have the slugs:

* /test-1/
* /test-1/unterseite/

We use '/' as default PageTypeSuffix.

When i rename /test-1/ to /test-2/ then 2 redirects are created:

1.  /test-1/ => /test-2/
2. /test-1/unterseite => /test-2/unterseite

Issue is that the second redirect misses the slash at the end.

---

Another issue are translated pages. My page translation has the url path `/pl-pl/polish-page/` w

[2021-03-03 07:06] #48 closed

[2021-03-09 14:44] moe2k opened #52 "composer.json: list dependency to typo3/cms-core under "require""
The dependency to the specific version of typo3/cms-core should be listed under the "require" section in composer.json.

Practical implication: It makes sure composer always suggests the correct version to update to. Also, in a project we use 9.5.24 and use https://gitlab.com/dependabot-gitlab/dependabot to automatically create PRs for outdated packes. Because of the missing require-stement, it su

[2021-03-15 18:35] #52 closed

[2021-03-15 19:08] #42 closed

[2021-03-18 21:41] moe2k commented on #42
Great work, the bug is successfully solved with 1.11.0. Tested with TYPO3 9.5.25.

[2021-03-28 22:16] cseifert opened #55 "Error "Too few arguments to function Wazum\Sluggi\Backend\Hook\DataHandlerSlugUpdateHook""
Hi folks,

I'm using TYPO3 9 LTS and the latest 2.0.2 version of sluggi. When I open the backend and try to edit a backend user record, the following error occurs when saving the updated record: "Too few arguments to function Wazum\Sluggi\Backend\Hook\DataHandlerSlugUpdateHook"

Downgrading the version to 2.0.0 fixed the error so that it doesn't occur. Upgrading to 2.01. or later, the exception is

[2021-03-29 06:23] wazum commented on #55
@cseifert  version >= 2 is for TYPO3 CMS 10, as you can see in composer.json and ext_emconf: https://github.com/wazum/sluggi/blob/2.0.2/composer.json
Use the latest update 1.11.0 for TYPO3 CMS 9.

[2021-03-29 06:23] #55 closed

[2021-04-19 12:59] supercaccia commented on #33
I confirm that I have tested @gianstra 's patch and it works in draft!

After this bug is fixed https://review.typo3.org/c/Packages/TYPO3.CMS/+/68182 in TYPO3 10.4.14 and sluggi patch https://github.com/wazum/sluggi/pull/56 the behaviors are more and more similar with "vintage" RealURL :)

Thanks to @wazum and @gianstraf !!!

[2021-04-23 06:47] sypets opened #57 "Make it possible to create shorter URLs - even with last_segment_only setting"
I like this extension.

However, I am trying to figure out a way to use it and / or avoid current problems with 10.4 and redirects.

We recently updated to 10. 4 already had several cases with unusable pages due to several changes of URLs and automatically created redirects.

I thought this extension was an option, but we would like to continue to give editors the possibility of creating shorter U

[2021-04-27 12:58] sebastiande opened #58 "Allow option to choose between nested array and simple array in generatorOptions:fields"
Setting the pages_fields to a value "nav_title,title" results in a nested array.

The default behavior of Typo3, in this case, is taking nav_title, and only if this is empty use title:
https://docs.typo3.org/m/typo3/reference-tca/master/en-us/ColumnsConfig/Type/Slug/Properties/GeneratorOptions.html

I would assume that it is not set as a nested array but as a normal array, resulting in taking both

[2021-04-27 13:06] wazum commented on #58
@sebastiande nice catch, seems like this has changed eventually.
I'll take a look at it.

[2021-04-27 13:07] wazum commented on #57
@sypets  I'll take a look at this feature request and get in touch later.

[2021-05-11 17:47] webian opened #59 "Error if page has NULL slug"
Hi,
if a page for some reason (external import) has a NULL slug, this error happens on saving the page:
`Argument 2 passed to Wazum\Sluggi\Backend\Service\SlugService::rebuildSlugsForSlugChange() must be of the type string, null given, called in /typo3conf/ext/sluggi/Classes/Backend/Hook/DataHandlerSlugUpdateHook.php on line 148`

TYPO3 10 LTS
sluggi 2.0.3

[2021-05-18 12:38] Scopestyle opened #60 "sluggi is missing the extension-key property in the composer.json"
This is a new error shown in TYPO3 10.4.16:

It would be good practice to provide this key per default.

[2021-05-18 13:54] sypets commented on #60
@Scopestyle Which version of sluggi did you use? Because the latest "master" has this: https://github.com/wazum/sluggi/blob/master/composer.json

Also, the latest 2.03 tag: https://github.com/wazum/sluggi/blob/2.0.3/composer.json

----

see also documentation: https://docs.typo3.org/m/typo3/reference-coreapi/master/en-us/ExtensionArchitecture/ComposerJson/Index.html

[2021-05-19 11:41] Scopestyle commented on #60
@sypets I'm using the latest available in the TER (2.0.1)

[2021-07-07 11:53] Kephson opened #63 "version 2 breaks sys_file_reference when copying pages in TYPO3 backend"
Hello,
we have a TYPO3 Version 9.5.27 with following configuration:
- TYPO3 9.5.27
- 11 Languages configured
- use the pages->media field to add images for the pages

When copying pages with existing translations, it breaks with an error message and the default language has doubled sys_file_references in media field.
After removing sluggi the problem has gone.

I will provide a detailed descriptio

[2021-07-09 05:01] wazum commented on #63
Version 2 is not compatible with TYPO3 9, as you can see in composer.json and in the documentation (first sentence).

[2021-07-09 05:01] #63 closed

[2021-07-09 09:08] Kephson commented on #63
Sorry, this was a mistake, we're using version 1.11.0 from packagist.

[2021-07-09 14:58] #60 closed

[2021-07-09 15:52] #59 closed

[2021-07-20 05:33] datango opened #64 "Moving page results in unexpected url"
Using TYPO3 10 V10.4.17

Settings:
basic.slash_replacement:  **true**
basic.synchronize: **false**
basic.last_segment_only: **true**

Pages given:
host.de/demo/demo1/demo1a
host.de/demo/demo2/demo2a

Moving as regular user which can only edit last segment.

Moving page demo1a to demo2 results in
host.de/demo/demo2/demo-demo2-demo1a

Expected url:
host.de/demo/demo2/demo1a

Fix of DatamapHook.php w

[2021-08-09 21:10] rafu1987 opened #65 "Update TER version to 2.0.3"
Hi there and thanks for your awesome extension. Could you maybe update the TER version to 2.0.3? Thanks! :-)

[2021-09-12 09:22] #64 closed

[2021-09-12 09:30] wazum commented on #57
@sypets the behaviour described is already possible. Just set the parent slug as an administrator or an editor in the whitelisted group and lock it.
Then all other editors can only edit the last segment but have the short URL from the locked parent page.
Let me know if I didn't get your problem though ;-)

[2021-09-12 10:52] #58 closed

[2021-09-12 10:54] sebastiande commented on #58
Thank you!

[2021-09-12 11:06] wazum commented on #65
Released 2.1.0 in TER

[2021-09-12 11:06] #65 closed

[2021-10-23 20:08] rafu1987 opened #66 "TYPO3 11.5 support"
Hey,
Is support for TYPO3 11.5 planned? This would be awesome! 🙂

[2021-10-30 01:43] TBschen commented on #66
I sure hope so, I won't even think about using 11.5 without sluggi :)

I still don't understand why slugs were implemented the way they are in TYPO3.
Slug syncing with title, optional slug lock, hyphens instead of forward slashes, ... sluggi is the way to go!

[2021-10-31 18:51] sypets commented on #57
I am very sorry for the late reply. I must have missed the notification.

----

What I am looking for is a way for the editors to either

a) Edit only the last segment of the URL, e.g. /path/page/**mypage**
b) _or_ replace the slug with only 1 segment, e.g **/mypage**

So, they should not mess up the URL but they should have the possibility to create short URLs. I realize this is maybe not so easy

[2021-11-08 18:18] wazum commented on #66
I'm already working on it …

[2021-11-08 19:08] supercaccia commented on #66
Don't forget the support for workspaces ;) https://github.com/wazum/sluggi/pull/56

[2022-01-23 17:46] rafu1987 commented on #66
@wazum do you maybe have a timeframe, when an updated version for TYPO3 11 will be available? Do you need help? There is also a pull request available already (https://github.com/wazum/sluggi/pull/68). :-) Would be great, thanks!

[2022-01-26 10:06] wazum commented on #66
I'm currently finishing the complete rework for TYPO3 CMS 11 in branch feature/typo3-11 (WIP),
expect a new tag this week.

[2022-02-15 12:08] #66 closed

[2022-02-16 21:36] rafu1987 commented on #66
Thanks a lot for updating sluggi for TYPO3 11. I saw that the extension is already updated on Packagist. Could you also upload the new version to TER? That would be awesome, thanks! 🙂

[2022-02-18 07:57] wazum commented on #33
Version 3+ (for TYPO3 11) should now be compatible with Workspaces

[2022-02-18 08:08] wazum commented on #66
@rafu1987 done

[2022-03-04 07:25] seirerman commented on #35
I still have that behaviour on TYPO3 10.4.25 and sluggi 2.1.1.

The slug of the copied page is updated, but its child pages have the old URL, but with an added "-1" at the end.

[2022-03-22 08:11] wazum commented on #46
Fixed in 2.1.3 and 3.0.2

[2022-03-22 08:11] #46 closed

[2022-03-28 07:14] eliashaeussler opened #69 "Versions 2.1.2 and 2.1.3 are broken"
I just updated EXT:sluggi from 2.1.1 to 2.1.3 and got an exception during TCA migration (e.g. when clearing caches or performing DB schema update):

I have the following extension configuration:

[code]

After a short research I was able to track it down to the following:

It seems like 02f363c7fa9117d911230712775a5362759f0a55 is no longer available in versions 2.1.2 and 2.1.3, see for example htt

[2022-03-28 08:00] wazum commented on #69
@eliashaeussler thanks, I'll take a look at what happened there 😖

[2022-03-29 07:00] wazum commented on #69
@eliashaeussler  don't know what I did there, oh my 😮
can you test with the recent typo3-10 branch? If everything works out, I'll tag a new version 2.1.4.
I have already removed the broken tags.

[2022-03-29 08:46] eliashaeussler commented on #69
@wazum Thanks for taking care, it works for me :)

[2022-04-04 06:20] eliashaeussler commented on #69
Hi @wazum, do you already have a schedule for the 2.1.4 release? 🙂

[2022-04-04 09:01] wazum commented on #69
Pushed a new 2.2.0 with several other fixes

[2022-04-04 09:01] #69 closed

[2022-04-04 09:14] eliashaeussler commented on #69
Thank you 🎉

[2022-04-06 13:25] FamousWolf opened #70 "Redirect has wrong domain when changing translated page title"
TYPO3 version: 10.4.26
sluggi version: 2.2

If you have a multi language site where each language has a different domain, the redirects that are created when changing a translated page always has the domain for the main language.

For example:

The main language is English and has the domain `example.com`. The site also has the language Dutch, with the domain `example.nl`. If I change the title fo

[2022-04-06 13:27] FamousWolf commented on #70
I see this isn't a problem anymore in the current master, as the bug is in Classes/Backend/Service/SlugService.php and this has been cleaned up in master. However, this is a bug in the version for TYPO3 10.

[2022-04-07 06:17] wazum commented on #70
Merged, thanks

[2022-04-07 06:17] #70 closed

[2022-04-27 23:05] TBschen commented on #69
Would you consider uploading 2.2.0 to the typo3 repository? For those still on typo3 10, the broken version 2.1.3 is still the most recent upload there.

[2022-05-25 09:53] borisw1 opened #75 "Redirect has wrong language-suffix"
TYPO3 10.4.28
sluggi: 2.1.3
When creating a new redirect in foreign languages it takes the suffix to the end.
F. e.:  /en/global/welcome-center/preparing.html -> /en/global/welcome-center/preparing-new/en.html

[2022-05-31 05:04] wazum commented on #69
Done

[2022-05-31 05:34] wazum commented on #75
Give me some more hints about your site configuration and setup, thanks.
And use the latest version for TYPO3 10: 2.2.0 for tests.

[2022-06-15 13:29] subnoodle opened #76 "Has issued with PHP 8 / 8.1, but does not exclude it in requirements"
I hit a bug when working with sluggi and PHP 8.x:
When cut / past a page in the pagetree, an error comes up:
`tx_sluggi_lock not a column... `
(roughly). I counterchecked the database: field is there.
I downgraded to PHP 7.4., works again.
Can you reproduce the bug?
Don't hesitate asking, if something is unclear.
Thx

[2022-07-21 08:16] devtroll opened #77 "JavaScript from the backend is included in the frontend"
Before I describe my problem, let me first say that this is a great extension.

Unfortunately, including the JavaScript file in the "ext_localconf.php" file in the frontend loads the backend JavaScript libraries.
The reason for this is that the call to the line

https://github.com/wazum/sluggi/blob/fb4aae94eaa92172eb6aa8b04a057bf8c194088c/ext_localconf.php#L16

integrates the RequireJS module from

[2022-08-08 09:54] freshworkx commented on #76
I have a similar error with the backend in TYPO3 11 with PHP 8.1:
`Core: Exception handler (WEB): Uncaught TYPO3 Exception: #1476107295: PHP Warning: Undefined array key "tx_sluggi_lock" in /var/www/html/web/typo3conf/ext/sluggi/Classes/Helper/PermissionHelper.php line 44`

I have found the error and made this pull request, pls merge.

[2022-09-11 09:59] #77 closed

[2022-09-14 09:19] #76 closed

[2022-09-14 15:37] borisw1 commented on #75
with version 2.2.0 no problems anymore. Thanks

[2022-09-16 09:19] franzkugelmann opened #80 "Editors can mess up the slug accidentally"
We experienced issues when editors did their work (TYPO3 10 - sluggi 2.2.0).
Here is a series of screenshot for the defect editing process:
1. The admin sees the slug correctly. The slug is NOT representing the pagetree, but shortened for a specific part of the page:
![1-sluggi-adminview-start](https://user-images.githubusercontent.com/11320147/190598264-4c4de125-04ac-4d8e-a66c-a014fb370efb.png)
2

[2022-10-24 06:57] MediKathi opened #81 "Loops are created"
Hello,

it is Possible to create a redicet loop

Steps to reproduce:

- Create a Page with name A
- set the name to B
- change it back to A

This creates 2 redirects this causes the system to Crash
At least in our case with Flux.

After The loop is manually fixed, everthing works fine again.

[2022-10-24 07:27] wazum commented on #81
@MediKathi  which TYPO3 and which sluggi version are you using?
The redirects are created by the core (except in the old version for CMS 9, but I won't touch that anymore), please test without sluggi and report if it (surprisingly) works without my extension.

[2022-10-24 07:51] MediKathi commented on #81
@wazum I using Typo3 11.5.17 and Sluggi 3.0.2

As you mentioned, I tested the situation without sluggi, but the problem still occurs.

Loops are still genereated if I update the slug from A to B and backagain.

But this is not an issue of slugg :)

[2022-10-24 07:51] #81 closed

[2022-10-24 08:52] wazum commented on #81
Thanks for your feedback

[2022-11-21 13:13] vb-benjamin-eyring opened #82 "Error message when moving page inside pagetree"
Hi all,

when moving a page inside the pagetree I get this error-message:

Core: Exception handler (WEB): Uncaught TYPO3 Exception: #1476107295: PHP Warning: Undefined array key "tx_sluggi_lock" in /var/www/clients/client9/web86/web/site/public/typo3conf/ext/sluggi/Classes/Helper/PermissionHelper.php line 44 | TYPO3\CMS\Core\Error\Exception thrown in file /var/www/clients/client9/web86/web/site/pu